
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);

body {
    padding:0px;
    margin:0px;
}

/* main css */

.main {
    font-family: 'Ubuntu', sans-serif;
    font-size:14px;
    color: #444444;
    cursor:default;
    margin: 0px 3%;
}

.hashspace {
    float:left;
    background-color:#27AAFC;
    padding: 25px 20px 15px 15px;
    margin-bottom:10px;
    font-size:18px;
}

.hashspace .hash {
    color:#FFFFFF;
    padding-right:3px;
}

.hashspace .name {
    color:#444444;
}

.playground {
    /*position: relative;*/
    clear:both;
}

a {
    color:#279CE6;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:hover {
    text-decoration: underline;
}

.playground .descriptionContainer {
    float:left;
    width: 48%;
    margin-right:2%;
}

.playground .editorContainer {
    float:left;
    width: 50%;
}

.playground .output {
    font-weight:300;
    padding: 10px 10px 10px 10px;
    background-color: #444444;/*#F2F2F2*/
    color:#FFFFFF;
}

.playground .editorTabs {
    height:25px;
}

#description {
    font-weight:300;
}

#playgroundeditor {
    position:relative;
    height:600px;
    margin-bottom:20px;
}

ul {
    padding-left:20px;
}

/* ************************************ */
/* Sample list */

.sampleTitle {
    position:relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;/*"Open Sans","Archivo Narrow";*/
    font-weight: 300;
    font-size: 1.5em;
}

.sampleList {
    position:absolute;
    background-color: white;
    border:1px solid #AAAAAA;
    padding: 1px;
}

.sampleList .item {
    font-size: 0.7em;
    padding: 2px 3px;
}

.sampleList div:hover{
    background-color:#555555;
    color:white;
}

/* ************************************ */
/* Error list */

.errorlist .description {
    color:#FF8800;
}

.errorlist ul {
    margin: 0px;
}

.errorlist .code {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace;
    font-size: 12px;
    color:#AAAAAA;
}

/* ************************************ */
/* Samples */

input[type=text] {
    font-size: 14px;
    width: 20em;
    border:1px solid #AAAAAA;
    padding: 1px 2px;
    margin:1px;
    border-radius: 3px;
}

#output ul {
    margin:0px;
    padding-left:30px;
}

.section {
    padding: 5px;
}

.section2 {
    padding-top: 5px;
}

.textValue {
    font-size: 14px;
    padding: 1px 2px;
    margin:1px;
}

.warning {
    display: inline-block;
    color:#FF4DBE;
    font-weight:400;
}

.info {
    display: inline-block;
    color:#FF4DBE;
    font-weight:400;
}

.subtemplates .label {
    color:#999999;
    float:left;;
    width:100px;  
    text-align: right;
    padding-right: 5px;
}

.subtemplates .value {
    font-style:italic;
    color:#27AAFC;
}

.subtemplates hr {
    color:#555555;
    height:0px;
}

.msg {
    margin:10px;
    padding:7px;
}

.urgent {
    font-weight: 400;
    display:block;
    margin:20px;
    padding:7px;
    background-color: #555555;
}

.personal {
    color:#FF4DBE;
}

.professional {
    font-family: Helvetica, Arial;
    font-size:1.4em;
    padding-top:0.7em;
}

.note {
    font-style: italic;
}

.details {
    font-style: italic;
}

.section {
    color:#999999;
}

.special {
    color:#27AAFC;
}

.info2 {
    color:#27AAFC;
    font-weight:300;
    padding:5px;
}

.section label {
    color:#FFFFFF;
}

.textvalue {
    color:#FF4DBE;
}