
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);

body {
    padding:0px;
    margin:0px;
}

/* main css */

.main {
    font-family: 'Ubuntu', sans-serif;
    font-size:14px;
    color: #444444;
    cursor:default;
    margin: 0px 1% 10px 3%;
}

.hashspace {
    float:left;
    background-color:#27AAFC;
    padding: 25px 10px 15px 15px;
    margin-bottom:10px;
    font-size:18px;
}

.hashspace .hash {
    color:#FFFFFF;
    padding-right:3px;
}

.hashspace .name {
    color:#444444;
}

.playground {
    /*position: relative;*/
    clear:both;
}

a {
    color:#279CE6;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:hover {
    text-decoration: underline;
}

.playground .descriptionContainer {
    float:left;
    width: 48%;
    margin-right:1.5%;
}

.playground .editorContainer {
    float:left;
    width: 50%;
}

.playground .output {
    font-weight:300;
    padding: 10px 10px 10px 10px;
    background-color: #444444;/*#F2F2F2*/
    color:#FFFFFF;
}

.playground .logoutput {
    font-weight:300;
    padding: 0px 10px 0px 10px;
    background-color: #444444;/*#F2F2F2*/
    color:#FFFFFF;
}

.playground .editorTabs {
    height:25px;
}

#description {
    font-weight:300;
}

#playgroundeditor {
    position:relative;
    height:600px;
    margin-bottom:10px;
}

ul {
    padding-left:20px;
}

/* ************************************ */
/* Sample list */

.sampleTitle {
    position:relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;/*"Open Sans","Archivo Narrow";*/
    font-weight: 300;
    font-size: 1.5em;
}

.sampleList {
    position:absolute;
    background-color: white;
    border:1px solid #AAAAAA;
    padding: 1px;
    z-index: 10000;
}

.sampleList .item {
    font-size: 0.7em;
    padding: 2px 3px;
}

.sampleList div:hover{
    background-color:#555555;
    color:white;
}

/* ************************************ */
/* Error list */

div.errorlist {
  padding:10px 0 10px 0;
}

.errorlist .description {
    color:#FF8800;
}

.errorlist ul {
    margin: 0px;
}

.errorlist .code {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace;
    font-size: 12px;
    color:#AAAAAA;
}

.code > .codetext {
    color:#FFFFFF;
}

div.logsection {
    padding-top:10px;
}

ul.logs .msg {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace;
    font-size: 11px;
}

.logs .ctxt {
  color:#AAAAAA;
}

.logs .msg {
  margin: 0px;
  color:#FF8800;
}

/* ************************************ */
/* Samples */

div.cell {
  display:inline-block;
  width:100px;
  height:19px;
  background-color: #999999;
  padding: 2px 3px 1px 3px;
  margin: 1px 1px 0px 1px;
}

input[type=text] {
    font-size: 14px;
    width: 20em;
    border:1px solid #AAAAAA;
    padding: 1px 2px;
    border-radius: 3px;
}

input.cell {
  position:relative;
  top:1px;
  width:100px;
  height:22px;
  margin: 0px 1px 0px 1px;
  border-radius: 0px;
  border:0px;
}

#output ul {
    margin:0px;
    padding-left:30px;
}

.section {
    padding: 5px;
}

.section2 {
    padding-top: 5px;
}

.section3 {
  padding-bottom: 10px;
}

.textValue {
    font-size: 14px;
    padding: 1px 2px;
    margin:1px;
}

.warning {
    display: inline-block;
    color:#FF4DBE;
    font-weight:400;
}

.info {
    display: inline-block;
    color:#FF4DBE;
    font-weight:400;
}

.subtemplates .label {
    color:#999999;
    float:left;;
    width:100px;  
    text-align: right;
    padding-right: 5px;
}

.subtemplates .value {
    font-style:italic;
    color:#27AAFC;
}

.subtemplates hr {
    color:#555555;
    height:0px;
}

.msg {
    margin:10px;
    padding:7px;
}

.urgent {
    font-weight: 400;
    display:block;
    margin:20px;
    padding:7px;
    background-color: #555555;
}

.personal {
    color:#FF4DBE;
}

.professional {
    font-family: Helvetica, Arial;
    font-size:1.4em;
    padding-top:0.7em;
}

.note {
    font-style: italic;
}

.details {
    font-style: italic;
}

.section {
    color:#999999;
}

.special {
    color:#27AAFC;
}

.info2 {
    color:#27AAFC;
    font-weight:300;
    padding:5px;
}

.section label {
    color:#FFFFFF;
}

.textvalue {
    color:#FF4DBE;
}

input.nbrfield {
    width:100px;
}

.nbrfield .error {
    background-color: orange;
}

label.fieldlabel {
  width:110px;
  display: inline-block;
}

/* ************************************ */
/* Clock sample */

.left, .right {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.left {
  padding-right: 1em;
}

.left p {
  font-size: 1.4em;
}

.right {
  padding-left: 1em;
}

#example p {
  margin: 1em 0 0 0;
}

.time {
  font-family: 'Voltaire';
  font-size: 4em;
  margin: 0;
}

.square {
  display:inline-block;
  width: 180px;
  height: 180px;
  padding-left:5px;
  padding-bottom: 20px;
}

svg {
  width: 180px;
  height: 180px;
}

.clock-face {
  stroke: #333;
  fill: white;
}

.minor {
  stroke: #999;
  stroke-width: 0.5;
}

.major {
  stroke: #333;
  stroke-width: 1;
}

.hour {
  stroke: #333;
}

.minute {
  stroke: #666;
}

.second, .second-counterweight {
  stroke: rgb(180,0,0);
}
 
.second-counterweight {
  stroke-width: 3;
}

.city{
  text-align: center;
  font-size: 15px;
}

.panel {
  padding:5px 0 5px 0;
}

.panel .head {
  color:#FF4DBE;
}

.listcpt {
  padding:5px 0 5px 0;
}

.list .head {
  color:#FF4DBE;
  padding-bottom: 3px;
}

.list .item {
  padding:0 3px 0 3px;
}

.list .highlight {
  background-color: #FF4DBE;
}

// ---------------------------------------------------------------------
// Pagination classes from bootstrap

ul.pagination {
  display: inline-block;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
