#leftPanel { 
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}
#rightPanel {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}
#topLeftPanel { 
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}
#bottomLeftPanel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
}
#topRightPanel { 
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}
#bottomRightPanel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
}

#hRule {
    position: absolute;
    top: 50%;
    height: 1px;
    z-index: 1000;
    left: 0;
    right: 0;
    background-color: #CCC;
}

#editor {
    position: relative;
    width: 100%;
    height: 100%;
}
#console {
    position: relative;
    width: 100%;
    height: 100%;
}

#logs {
    height: 100%;
    overflow: auto;
}
#logs p {
	font-size: small;
	margin: 5px;
}
.info {
	position : absolute;
	right: 20px;
	top: 15px;
	z-index: 1000;

	border: solid 1px #F1F1F1;
	background: #fafafa;
	display: inline-block;
	height: 22px;
	padding: 0 6px;
	line-height: 22px;
	text-align: center;
	font-size: 12px;
	color: #777;
	border-radius: 1px;
	text-rendering: optimizeLegibility;
	font-family: "Helvetica", "Arial", "FreeSans", "Verdana", "Tahoma", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
	opacity: 0.7
}
.actions {
    position: absolute;
    bottom: 4px;
    z-index: 1000;
    right: 24px;
}
button {
    position: relative;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1;
    font-size: 13px;
    font-weight: normal;
    padding: 6px 16px;
    border-radius: 4px;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top,#fff,#e1e1e1);
    background-image: -ms-linear-gradient(top,#fff,#e1e1e1);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e1e1e1));
    background-image: -webkit-linear-gradient(top,#fff,#e1e1e1);
    background-image: -o-linear-gradient(top,#fff,#e1e1e1);
    background-image: linear-gradient(top,#fff,#e1e1e1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e1e1e1',GradientType=0);
    border: 1px solid #dadada;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-bottom-color: #a9a9a9;
    box-shadow: 0 1px 0 rgba(0,0,0,0.15),inset 0 1px 1px 0 rgba(255,255,255,0.6);
    text-shadow: 0 1px 0 #fff;
}
button:hover {
    filter: none;
    background: 0;
    background: #eee;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    text-decoration: none;
    box-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
#topPanel {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #222;
    color: #ccc;
    padding: 6px 20px;
}
#bottomPanel {
    position: absolute;
    top: 32px;
    left: 0;
    right : 0;
    bottom: 0;
}
#getSnippet {
    float: right;
    right: 40px;
    position: relative;
    cursor: pointer;
}
.dialog {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin-left: -280px;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.dialog .body {
    position: relative;
    max-height: 400px;
    padding: 15px;
    overflow-y: auto;
}
.dialog .footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}
.hidden {
    opacity: 0;
    z-index: -1;
}
ul.gists {
    color: #666;
}
li.gist {
    margin-bottom: 5px;
}
li.gist a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
li.gist a:hover {
    color: #aaa;
    text-decoration: underline;
}